.Register_Wrapper{
    margin-top: 30px;
    width: 30%;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
}

.Register_Label{
    padding: 0;
}

.Register_Heading{
    text-align: center;
}

.Register_RegisterBtn{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 600px) {
    .Register_Wrapper{
        margin-top: 30px;
        width: 90%;
        margin-bottom: 50px;
    }
}